<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Ebuy_Inventory</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Login Servlet</description>
    <servlet-name>Login</servlet-name>
    <servlet-class>Package.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Package.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Product</servlet-name>
    <servlet-class>Package.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/productInventory/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>Package.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/placeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DirectLogin</servlet-name>
    <servlet-class>Package.DirectLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Cancel Order</description>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>Package.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
</web-app>