<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ebuy Shopping</title>

    <!-- Bootstrap Core CSS -->
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <!-- Custom CSS -->
	<link rel='stylesheet' href='/stylesheets/shop-homepage.css' />

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/store/home">ebuy.com</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                   	 <li>
                        <a href="#"><span style="display:inline-block; width: 800px;"></span></a>
                    </li>
                    <li>
                     <div class="row">
			            <div class="col-md-3">
			            	<form method="post" action="/store/admin" name="firstpageLogin">
			            	<span style="display:block; height: 8px;"></span>
			            	<input type="hidden" name="backHome" value="home">
			                <input type="submit" class="btn btn-primary" id="buynowBtn" name="create" value="Add New Product ">
			                </form>
			            </div>
        			</div>
                    </li>
                    <li>
                        <a href="#"><span style="display:inline-block; width: 20px;"></span></a>
                    </li>
                    <li>
                     <div class="row">
			            <div class="col-md-3">
			            	<form method="post" action="/store/admin" name="firstpageLogin">
			            	<span style="display:block; height: 8px;"></span>
			            	<input type="hidden" name="backHome" value="home">
			                <input type="submit" class="btn btn-primary" id="buynowBtn" name="update" value="Modify Product Details ">
			                </form>
			            </div>
        			</div>
                    </li>
                    <li>
                        <a href="#"><span style="display:inline-block; width: 20px;"></span></a>
                    </li>
                    <li>
                     <div class="row">
			            <div class="col-md-3">
			            	<form method="post" action="/store/admin" name="firstpageLogin">
			            	<span style="display:block; height: 8px;"></span>
			            	<input type="hidden" name="backHome" value="home">
			                <input type="submit" class="btn btn-primary" id="buynowBtn" name="delete" value="Remove Product ">
			                </form>
			            </div>
        			</div>
                    </li>
                    <li>
                        <a href="#"><span style="display:inline-block; width: 20px;"></span></a>
                    </li>
                    <li>
                     <div class="row">
			            <div class="col-md-3">
			            	<form method="post" action="/store/admin" name="firstpageLogin">
			            	<span style="display:block; height: 8px;"></span>
			            	<input type="hidden" name="backHome" value="home">
			                <input type="submit" class="btn btn-primary" id="buynowBtn" name="submit" value="view ">
			                </form>
			            </div>
        			</div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    


</body>
	<hr>
			</div>
            <div class="col-md-12">
            <table style="width:100%">

        	<tbody>
				<thead>
            	<td></td>
        		<tr><b>SAMSUNG</tr>
        		</thead>
				
				<thead><th>POSTMAN URL</th></thead>
				<tr></tr>
                <tr>
                    <td><a href="https://chrome-extension://fdmmgilgnpjigdojojpjoooidkmcomcm/index.html">go to Postman</td>
                </tr>
                
                <tr>
                <td colspan="4" style="border-bottom: 2px solid #000;" ></td>
                </tr>
                <thead><th>Design</th></thead>
                <tr>
                	<td>Type:  todo.type </td>
                </tr>
                <tr>
                <td colspan="4" style="border-bottom: 1px solid #000;" ></td>
                </tr>
                <thead><th>VIDEO</th></thead>
                <tr>
                	<td>screen size:  todo.screen_size </td>
                	<td>Resulution :  todo.Resolution </td>
                </tr>
                <tr>
                <td colspan="4" style="border-bottom: 1px solid #000;" ></td>
                </tr>
   				<thead><th>Audio</th></thead>
                <tr>
                	<td>Sound Effect:  todo.sound_effect </td>
                </tr>
                <tr>
                <td colspan="4" style="border-bottom: 1px solid #000;" ></td>
                </tr>
                <thead><th>Features</th></thead>
                <tr>
                	<td>Ultra Clear Pannel :  todo.ultraclearpanel </td>
                	<td>Connect Share:  todo.connectshare </td>
                	<td>Game Mode :  todo.gamemode </td>
                	<td>Auto Power Off :  todo.autopoweroff </td>
                </tr>
                <tr>
                <td colspan="4" style="border-bottom: 1px solid #000;" ></td>
                </tr>
                <thead><th>Inputs and Outputs</th></thead>
                <tr>
                	<td>HDMI:  todo.hdmi </td>
                	<td>USB :  todo.usb </td>
                	<td>Ethernet:  todo.ethernet </td>
                </tr>
                <tr>
                <td colspan="4" style="border-bottom: 1px solid #000;" ></td>
                </tr>
                  <thead><th>Dimensions</th></thead>
                <tr>
                	<td>Product Size:  todo.productsize </td>
                </tr>
                <tr>
                <td colspan="4" style="border-bottom: 1px solid #000;" ></td>
                </tr>
                  <thead><th>Power</th></thead>
                <tr>
                	<td>Energy Star:  todo.energystar </td>
                </tr>           

            </tbody>
</table>
            </div>
        </div>
        
        <!-- /.row -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/ui-Javascripts/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/ui-Javascripts/bootstrap.min.js"></script>
    
       <!-- jQuery Version 1.11.0 -->
    <script src="/ui-Javascripts/jquery-catalog-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/ui-Javascripts/bootstrap_catalog.min.js"></script>

</html>
