<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel='stylesheet' href='/stylesheets/style2.css' />
<title>ebuy | Products</title>
</head>
<div id="container">
		<div id="header">
        	<h1>ebuy<span class="off">.com</span></h1>
            <h2>Your Online Store</h2>
        </div>   
        
        <div id="menu">
        	<ul>
            	<li class="menuitem"><a href="/store/home">Home</a></li>
            </ul>
            
        </div>
        
        <div id="leftmenu">

        <div id="leftmenu_top"></div>

				<div id="leftmenu_main">           
                <ul>
                	<li><h3>Links</h3></li>
                    <li><a href="/store/tvcatalog">TV</a></li>
                    <li><a href="/store/carcatalog">Cars</a></li>
                    <li><a href="/store/wificatalog">Wireless Router</a></li>
                </ul>
				</div>
                
                
              <div id="leftmenu_bottom">
              
              </div>
        </div> 
		<div id="content">
  
        <div id="content_top"></div>
        <div id="content_main">
        <table style="width:100%">
        <thead>
		<th>
			<a href="/store/tvCatalog"><img src = "/img/samsungH8000.jpg" alt = "TV" style="width:200px;height:128px"></a>
			<td><a href="/store/wifiCatalog"><img src = "/img/linksys2.jpg" alt = "Router" style="width:200px;height:128px"></a></td>
			<td><a href="/store/carCatalog"><img src = "/img/jaguar-xf.jpg" alt = "Cars" style="width:200px;height:128px"></a></td>
		</th>
		<tr>
			<td><a href="/store/tvCatalog"><b>TV</a></td>
			<td><a href="/store/wifiCatalog"><b>Wireless Router</a></td>
			<td><a href="/store/carCatalog"><b>Cars</a></td>
		</tr>
		</thead>
		</table>
        </div>
        <div id="content_bottom"></div>
            
            <div id="footer"><h3><a href="#">My first app</a></h3></div>
      </div>
   </div>
</body>
</html>


