<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<h1><%= title %></h1>
<form action="/create" method="post" accept-charset="utf-8">
  <input type="text" name="username" />
  <input type="text" name="email" />
  <input type="text" name="phone" />
  <p class="login-submit">
      <a href = '/'><button type="submit" class="login-button">Login</button></a>
    </p>
</form>

</html>